{% extends "base_site.html" %}
{% load i18n admin_static material_form %}

{% block content %}
<br><br>
<div class="row">
    <div class="col s12 offset-m3 m6">
      <a href="/login/hod/classtchr/">
        <div class="card">
            <div class="card-content">
                <span class="card-title black-text">{% trans 'Class Teacher List' %}</span>
              </div>
          </div>
        </a>
        <a href="/login/hod/faculty/">
          <div class="card">
              <div class="card-content">
                  <span class="card-title black-text">{% trans 'Faculty List' %}</span>
                </div>
            </div>
          </a>
          <a href="/login/hod/student/">
            <div class="card">
                <div class="card-content">
                    <span class="card-title black-text">{% trans 'Student List' %}</span>
                  </div>
              </div>
            </a>
  </div>

{% endblock %}
