<!DOCTYPE html>
<html lang="en-us" >
<head>
  <title>Log in</title>
  <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
  <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />
  <meta name="robots" content="NONE,NOARCHIVE" />
</head>
<body class="login"
  data-admin-utc-offset="19800">
<center>
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">

            <h1 id="site-name"><a href="/login/admin/">Login</a></h1>

        </div>
    </div>
    <!-- END Header -->

    <!-- Content -->
    <div id="content" class="colM">
        <div id="content-main">
            <form action="/login/" method="post">
                {% csrf_token %}
                {{ form }}
                <br><br>
                <input type="submit" value="Submit" />
            </form>
         </div>
         <br class="clear" />
        </div>
        <!-- END Content -->
    <div id="footer"></div>
    </div>
    <!-- END Container -->
</center>
</body>
</html>
